<div class="holdme">
  <div class="me">
<h5 class="text-center">Upload A Profile Picture</h5>

  <div class="upload-class">
<input class="form-control myin" type="file" (change)="onFileSelected($event)">
<button class="btn btn-success mybtn" type="button" (click)="onUpload()">Upload</button>
<!--<img class="imgl" src="../../../../../../../assets/c2d377b57e330ae98d45c3c685f8f83b">-->
</div>
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>
  </div>
  <br>
  <br>

  <div class="mee">
  <h5 class="text-center">Upload A Collection Of 5 Picture To Show Your Works</h5>
<br>
  <!--<div class="containerme">-->
  <h6 class="text-center">Drag And Drop Images</h6>
  <br>
  <div class="upload-area">

  </div>
  </div>

</div>
