<div class="containerme">
  <br>
  <h5 class="text-center">Sign up as a service provider and get to market your service</h5>

  <hr id="under">

  <div class="row show-hide-message">
    <div [ngClass]="messageClass">
      {{ message }}
    </div>
  </div>
  <form [formGroup]="brform" (submit)="onRegisterBusiness()">
    <div class="bsignup-container">

      <input type="text" name="fullname" class="inp fullname" autocomplete="off" placeholder="Enter your fullname" formControlName="fullname">
      <ul class="help-block">
        <li *ngIf="brform.controls.fullname.errors?.required && brform.controls.fullname.dirty">This field is required</li>
        <li *ngIf="brform.controls.fullname.errors?.minlength || brform.controls.fullname.errors?.maxlength">Minimum length : 5 and Maximum length: 30</li>
      </ul>

      <input type="text" class="inp email" name="email" autocomplete="off" placeholder="Enter your email address" formControlName="email">
      <ul class="help-block">
        <li *ngIf="brform.controls.email.errors?.required && brform.controls.email.dirty">This field is required</li>
        <li *ngIf="brform.controls.email.errors?.minlength || brform.controls.email.errors?.maxlength">Minimum length : 5 and Maximum length: 30</li>
        <li *ngIf="brform.controls.email.errors?.validateEmail && brform.controls.email.dirty">This is not a valid E-mail address</li>
        <!--<li *ngIf="emailValid"> {{ emailMessage }}</li>-->
      </ul>

      <input type="text" name="businessname" class="inp businessname" autocomplete="off" placeholder="Enter your business name" formControlName="businessname">
        <ul class="help-block">
          <li *ngIf="brform.controls.businessname.errors?.required && brform.controls.businessname.dirty">This field is required</li>
          <!--<li *ngIf="businessnameValid"> {{ businessnameMessage }}</li>-->
        </ul>

      <label>Select A Service Category</label>
      <select class="inpu" name="category" formControlName="category">
        <!--<option>Select a service category</option>-->
        <option>Photography</option>
        <option>Event Center</option>
        <option>Makeup artist</option>
        <option>Stylist</option>
        <option>MC</option>
        <option>Catering</option>
      </select>

      <input type="text" name="address" autocomplete="off" class="address" placeholder="Enter your address" formControlName="address">
      <ul class="help-block">
        <li *ngIf="brform.controls.address.errors?.required && brform.controls.address.dirty">This is a required field</li>
      </ul>

      <input type="text" name="city" autocomplete="off" class="inp" placeholder="Enter your city" formControlName="city">
      <ul class="help-block">
        <li *ngIf="brform.controls.city.errors?.required && brform.controls.city.dirty">This is a required field</li>
      </ul>

      <label>State</label>
      <select class="inputt" name="state" formControlName="state" autocomplete="off">
        <option>Abuja</option>
        <option>Adamawa</option>
        <option>Kaduna</option>
        <option>Kano</option>
        <option>Kwara</option>
        <option>Lagos</option>
        <option>Ogun</option>
        <option>Ondo</option>
        <option>Osun</option>
        <option>Plateau</option>
      </select>

      <input type="password" name="password" class="inp password" autocomplete="off" placeholder="Enter your password" formControlName="password">
      <ul class="help-block">
        <li *ngIf="brform.controls.password.errors?.required && brform.controls.password.dirty">This is a required field</li>
        <li *ngIf="brform.controls.password.errors?.minlength || brform.controls.password.errors?.maxlength">Minimum length: 5 and Maximum length: 30</li>
        <li *ngIf="brform.controls.password.errors?.passwordValidate && brform.controls.password.dirty">Password must containe: Uppercase, Lowercase, Digit and a Symbol</li>
      </ul>
      <input type="password" name="confirm" class="inp password" autocomplete="off" placeholder="Confirm your password" formControlName="confirm">
        <ul class="help-block">
          <li *ngIf="brform.controls.confirm.errors?.required && brform.controls.confirm.dirty">This is a required field</li>
          <li *ngIf="brform.errors?.matchingPassword && brform.controls.confirm.dirty">Passwords do not match</li>
        </ul>

      <button [disabled]="!brform.valid || processing" type="submit" class="subbut">Sign up as a service provider</button>
    </div>
  </form>
</div>
