<div class="side-bar-me">
  <div class="mid-all">
    <div class="circle-me">
      <span class="glyphicon glyphicon-user"></span>
    </div>

    <div class="section-name">

      <!--<h5>James D Photography</h5>-->

    </div>

    <div class="section-about-me">
      <!--{{  }}-->
      I am a photographer based in Lagos Nigeria, Good with the lens, and a beast with the editing. I have done numerous job which can be seen from my ratings
    </div>

    <div class="section-about-me">
      <!--{{ address }}, {{ city }}, {{ state }}-->
    </div>

    <div class="section-about-me">
      <!--{{ category }}-->
    </div>

  </div>
</div>
