<div class="holdme">
<h4 class="text-center">Add a description of yourself and the service you provide</h4>
<div class="containerme">
<div class="row show-hide-message">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>
<form [formGroup]="editForm" (submit)="updateUserInfo()">
  <div class="bsignup-container">
    <input type="text" name="businessname" class="inp businessname" autocomplete="off" placeholder="Enter your business name" formControlName="businessname" [(ngModel)] = "info.businessname">
    <ul class="help-block">
      <li *ngIf="editForm.controls.businessname.errors?.required && editForm.controls.businessname.dirty">This field is required</li>
    </ul>

    <textarea name="description" class="textArea" autocomplete="off" placeholder="Write something about you and your service" formControlName="description" [(ngModel)]="info.description"></textarea>
    <ul class="help-block">
      <li *ngIf="editForm.controls.description.errors?.required && editForm.controls.description.dirty">This is a required field</li>
      <li *ngIf="editForm.controls.description.errors?.minlength || editForm.controls.description.errors?.maxlength">Minimum length : 5 and Maximum length: 130</li>
    </ul>
    <br>
    <button type="submit" class="subbut" [disabled]="!editForm.valid">Update Information</button>
  </div>
</form>
</div>
</div>
