.containerme{
  margin: 30px auto;
  max-width: 800px;
}

.containerme h5{
  text-align: center;
  margin-bottom: 10px;
}

#under{
  width: 100%;

}

.bsignup-container{
  max-width: 800px;
  padding: 0px 20px 20px 20px;

}
.help-block li{
  font-size: 15px;
}
.containerme ul{
  width: 100%;
  list-style-type: none;
}
.hold-list li{
  display: inline;
}
.inp{
  width: 100%;
  height: 25px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0px 2px 5px 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  transition: 0.5s;
  border-bottom: 2px solid grey ;
}
.textArea{
  width: 100%;
  height: 70px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
  padding: 0px 2px 5px 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  transition: 0.5s;
  border-bottom: 2px solid grey ;
}
.inp:focus{
  border-bottom: 2px solid #202c39;
}

.inpu {
  width: 100%;
  height: 35px;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px 2px 2px 5px;
  border: 2px solid grey ;
  transition: 0.5s;
}

.inpu:focus{
  border-bottom: 2px solid #202c39;
}

.address{
  width: 100%;
  height: 35px;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 2px 2px 2px 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid grey ;
  transition: 0.5s;
}

.address:focus{
  border-bottom: 2px solid #202c39;
}
.inputt {
  width: 100%;
  height: 35px;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 2px 2px 2px 5px;
  border: 2px solid grey ;
  transition: 0.5s;
}
.inputt:focus{
  border-bottom: 2px solid #202c39;
}
.subbut{
  width: 100%;
  height: 50px;
  font-size: 15px;
  background-color: #202c39;
  border: 1px solid #202c39;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.subbut:hover{
  color: #fff;
  background-color: #f29559;
  border: 1px solid #f29559;
}

.has-error{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid red ;
}
.help-block{
  color: red;
  font-size: 20px;
}
