<form [formGroup]="editForm" (submit)="onRegisterBusiness()">
  <div class="bsignup-container">

    <input type="text" name="fullname" class="inp fullname" autocomplete="off" placeholder="Enter your fullname" formControlName="fullname">
    <ul class="help-block">
      <li *ngIf="editform.controls.fullname.errors?.required && editform.controls.fullname.dirty">This field is required</li>
      <li *ngIf="editform.controls.fullname.errors?.minlength || editform.controls.fullname.errors?.maxlength">Minimum length : 5 and Maximum length: 30</li>
    </ul>

    <input type="text" class="inp email" name="email" autocomplete="off" placeholder="Enter your email address" formControlName="email">
    <ul class="help-block">
      <li *ngIf="editform.controls.email.errors?.required && editform.controls.email.dirty">This field is required</li>
      <li *ngIf="editform.controls.email.errors?.minlength || editform.controls.email.errors?.maxlength">Minimum length : 5 and Maximum length: 30</li>
      <li *ngIf="editform.controls.email.errors?.validateEmail && editform.controls.email.dirty">This is not a valid E-mail address</li>
      <!--<li *ngIf="emailValid"> {{ emailMessage }}</li>-->
    </ul>

    <input type="text" name="businessname" class="inp businessname" autocomplete="off" placeholder="Enter your business name" formControlName="businessname">
    <ul class="help-block">
      <li *ngIf="editform.controls.businessname.errors?.required && editform.controls.businessname.dirty">This field is required</li>
      <!--<li *ngIf="businessnameValid"> {{ businessnameMessage }}</li>-->
    </ul>

    <input type="text" name="address" autocomplete="off" class="address" placeholder="Enter your address" formControlName="address">
    <ul class="help-block">
      <li *ngIf="editform.controls.address.errors?.required && editform.controls.address.dirty">This is a required field</li>
    </ul>

    <input type="text" name="city" autocomplete="off" class="inp" placeholder="Enter your city" formControlName="city">
    <ul class="help-block">
      <li *ngIf="editform.controls.city.errors?.required && editform.controls.city.dirty">This is a required field</li>
    </ul>
    <textarea name="aboutme" class="textArea" autocomplete="off" placeholder="Write something about you and your service" formControlName="aboutme"></textarea>
    <ul class="help-block">
      <li *ngIf="editform.controls.aboutme.errors?.required && editform.controls.aboutme.dirty">This is a required field</li>
    </ul>
    <label>Add A Profile Picture </label>
    <input type="file" name="profilepic" formControlName="profilepic">
    <br>
    <br>
    <button [disabled]="!editform.valid || processing" type="submit" class="subbut">Update Information</button>
  </div>
</form>
