<div class="inner">
  <div class="row">
    <div class="here-now col-sm-12 col-md-4">
      <app-side-bar></app-side-bar>
    </div>
    <div class="here-there col-sm-12 col-md-8">
      <img class="imageme" src="../../../../../../assets/uploads/7bc4141c7ca770a087ec7712642f497a">
      <img class="imageme" src="../../../../../../assets/Screen%20Shot%202018-03-31%20at%2011.58.52%20PM.png">
      <img class="imageme" src="../../../../../../assets/Screen%20Shot%202018-03-31%20at%2011.58.52%20PM.png">
      <img class="imageme" src="../../../../../../assets/Screen%20Shot%202018-03-31%20at%2011.58.52%20PM.png">
      <img class="imageme" src="../../../../../../assets/Screen%20Shot%202018-03-31%20at%2011.58.52%20PM.png">
      <img class="imageme" src="../../../../../../assets/Screen%20Shot%202018-03-31%20at%2011.58.52%20PM.png">
    </div>
  </div>
</div>
