<div class="container">
  <div class="row">
    <h6 class="newme">146 Photography Professional In Lagos</h6>
  </div>
<br>
  <h6 class="page-header">Category</h6>

  <ul>
    <li>Photography</li>
    <li>Event Center</li>
    <li>Catering</li>
    <li>MC</li>
    <li>Stylist</li>
    <li>Make up Artist</li>
  </ul>
</div>
<br>
<div class="container">
  <h6 class="page-header">Location</h6>

  <ul>
    <li>Abuja</li>
    <li>Adamawa</li>
    <li>Kaduna</li>
    <li>Kano</li>
    <li>Kwara</li>
    <li>Lagos</li>
    <li>Ogun</li>
    <li>Ondo</li>
    <li>Osun</li>
    <li>Plateau</li>
  </ul>
</div>
