
<div class="center-my-form col-md-12">
  <h6 class="text-center">You must be logged in to view the profile of service providers</h6>
  <div class="centering">
    <form [formGroup]="searchForm" class="hold-search-btn" (submit)="onSearch()">
      <select name="category" formControlName="category" class="searchservice" autocomplete="off">
        <option *ngFor="let c of allCategory" [ngValue]="c">{{ c }}</option>
      </select>
      <select class="searchlocation" name="state" formControlName="state" autocomplete="off">
        <option *ngFor="let s of allState" [ngValue]="s">{{ s }}</option>
      </select>
      <!--<input type="search" class="searchlocation" placeholder="Location e.g Ikeja">-->

      <button type="submit" class="searchbutton">Search</button>

    </form>
  </div>
</div>
<br>
<br>
<h5 *ngIf="empty">The category or location which was searched for those not have any SERVICE PROVIDER</h5>
<div class="row show-hide-message">
  <div [ngClass] = "messageClass">
    {{ message }}
  </div>
</div>

<div *ngFor="let search of searches" class="containerme">
  <div class="container mine">
    <div class="row">
      <div class="contain col-md-8">
        <div class="row">
          <div class="col-md-4 image"><img class="imageme" src="../../../../../../assets/{{search.image}}"></div>
          <div class="col-md-8 seller">
            <div class="insider">
              <h5><b>{{ search.businessname }}</b></h5>
              <p id="myv">Number of views - {{ search.views }} views</p>
              <p><i>{{ search.address }}, {{ search.city }}, {{ search.state }}</i></p>
              <!--<p>Description</p>-->
              <h6> <b>Description: {{ search.description }}</b> <i></i></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="sub col-md-4 col-sm-12">
        <a [routerLink]="['singleprovider/', search._id]"><button id="first" class="buttonme col-md-12" (click)="addtoview(search._id)">View Profile</button></a>
        <a><button (click)="hirepro(search._id)" class="buttonme col-md-12">Request Service Provider</button></a>
        <a [routerLink]="['works/', search._id]"><button id="second" class="buttonme col-md-12">View works</button></a>
      </div>
    </div>
  </div>
  <span class="underline"></span>
</div>



<!--</ng-template-->




