<div class="contain">
  <h2 class="text1">Hire the right <span>SERVICE PROVIDERS</span> for your event</h2>



  <form [formGroup]="searchform" class="hold-search-btn">

    <!--<input type="" class="searchservice" placeholder="Enter a service category">-->
    <!--<label>Enter a service category</label> <label>Location</label>-->
    <!--<br>-->
    <select name="category" formControlName="category" placeholder="dfsljnvsd" class="searchservice" autocomplete="off">
      <option>Enter a service category</option>
      <option>Photography</option>
      <option>Event Center</option>
      <option>Makeup artist</option>
      <option>Stylist</option>
      <option>MC</option>
      <option>Catering</option>
    </select>

    <select class="searchlocation" name="state" formControlName="state" autocomplete="off">
      <option>Location</option>
      <option>Abuja</option>
      <option>Adamawa</option>
      <option>Kaduna</option>
      <option>Kano</option>
      <option>Kwara</option>
      <option>Lagos</option>
      <option>Ogun</option>
      <option>Ondo</option>
      <option>Osun</option>
      <option>Plateau</option>
    </select>
    <!--<input type="search" class="searchlocation" placeholder="Location e.g Ikeja">-->

    <button type="submit" class="searchbutton" (click)="onSearch()">Search</button>

  </form>

  <div class="hold-ex">
    <p class="ex1">Eg. Stylist, Photographer, Event center, Caterer</p>
  </div>
</div>
