    <div class="row">
      <div class="reviews col-sm-12 col-md-12">
        <h3 class="text-center page-header">Service Reviews</h3>
        <br>
        <div class="review">
          <p class="text-me"><span>Sukomi</span> : Amazing experience with the photographer</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tifunmi</span> : The brilliance experienced from the job has stolen me as a permanent customer. Thanks you very much James D</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tafuko</span> : Great job....keep it up :)</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Sukomi</span> : Amazing experience with the photographer</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tifunmi</span> : The brilliance experienced from the job has stolen me as a permanent customer. Thanks you very much James D</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tafuko</span> : Great job....keep it up :)</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Sukomi</span> : Amazing experience with the photographer</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tifunmi</span> : The brilliance experienced from the job has stolen me as a permanent customer. Thanks you very much James D</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tafuko</span> : Great job....keep it up :)</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Sukomi</span> : Amazing experience with the photographer</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tifunmi</span> : The brilliance experienced from the job has stolen me as a permanent customer. Thanks you very much James D</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tafuko</span> : Great job....keep it up :)</p>
        </div>

        <div class="review">
          <p class="text-me"><span>Sukomi</span> : Amazing experience with the photographer</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tifunmi</span> : The brilliance experienced from the job has stolen me as a permanent customer. Thanks you very much James D</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tafuko</span> : Great job....keep it up :)</p>
        </div>

      </div>
    </div>

  <!--</div>-->
<!--</div>-->
