.mybutton{
  width: 200px;
  height: 60px;
  padding: 15px;
  margin-bottom: 60px;
  background-color: #0c1923;
}

a .mybutton {
  color: #fff;

}

.mycontainer{
  margin: 0 auto;
  max-width: 500px ;
  margin-top: 50px;
}

@media only screen and (max-width: 768px) {
  .mycontainer{
    max-width: 200px ;
  }
}
