<div class="side-bar-me">
  <div class="mid-all">
  <div>
    <img class="circle-me" src="../../../../../../assets/{{image}}">
  </div>

    <div class="section-name">

      <h5>{{ businessname }}</h5>

    </div>

    <div *ngIf="description" class="section-about-meo">
      {{ description }}
    </div>

    <div class="section-about-meo">
      {{ email }}
    </div>

    <div class="section-about-meo">
      {{ address }}, {{  city }}, {{ state }}
    </div>

    <div class="section-about-meo">
      {{ category }}
    </div>
    <ul>
      <li><a><button class="mybutton" [routerLink]="['/works/', meid]">View Works</button></a></li>
      <li><a><button class="mybutton" (click)="hirepro()">Hire Pro</button></a></li>
      <li><a [routerLink]="['/profile/', meid]"><button class="mybutton">View Reviews</button></a></li>
    </ul>
  </div>
</div>

