<div class="side-bar-me">
  <div class="mid-all">
  <div class="circle-me">
    <!--<span>{{ image }}</span>-->
  </div>

    <div class="section-name">

      <h5>{{ businessname }}</h5>

    </div>

    <div class="section-about-meo">
      {{ description }}
      Learn how to create a chat bubble using css. Quick html tutorial that covers other advanced areas of css and chat bubble alignment
    </div>

    <div class="section-about-meo">
      {{ email }}
    </div>

    <div class="section-about-meo">
      {{ address }}, {{  city }}, {{ state }}
    </div>

    <div class="section-about-meo">
      {{ category }}
    </div>
    <ul>
      <li><a><button class="mybutton">View contact</button></a></li>
      <li><a><button class="mybutton">View Works</button></a></li>
      <li><a><button class="mybutton" (click)="hirepro()">Hire Pro</button></a></li>
    </ul>
  </div>
</div>

