<div class="side-bar-me">
  <div class="mid-all">
  <div class="circle-me">
    <span class="glyphicon glyphicon-user"></span>
  </div>

  <div class="section-name">

    <h5>{{ businessname }}</h5>

  </div>

  <div class="section-about-meo">
    <!--{{  }}-->
    I am a photographer based in Lagos Nigeria, Good with the lens, and a beast with the editing. I have done numerous job which can be seen from my ratings
  </div>

    <div class="section-about-meo">
      {{ address }}, {{ city }}, {{ state }}
      <!--<button class="btn btn-default mybtn">Add Information</button>-->
    </div>

    <div class="section-about-meo">
      {{ category }}
      <!--<button class="btn btn-default mybtn">Upload</button>-->
    </div>

  </div>
</div>

