<!--<form [formGroup]="searchForm" class="hold-search-btn">-->
  <!--&lt;!&ndash;<label>Enter a service category State</label><br>&ndash;&gt;-->
  <!--<select name="category" formControlName="category" placeholder="dfsljnvsd" class="searchservice" autocomplete="off">-->
    <!--<option>Photography</option>-->
    <!--<option>Event Center</option>-->
    <!--<option>Makeup artist</option>-->
    <!--<option>Stylist</option>-->
    <!--<option>MC</option>-->
    <!--<option>Catering</option>-->
  <!--</select>-->
  <!--<select class="searchlocation" name="state" formControlName="state" autocomplete="off">-->
    <!--<option>Location</option>-->
    <!--<option>Abuja</option>-->
    <!--<option>Adamawa</option>-->
    <!--<option>Kaduna</option>-->
    <!--<option>Kano</option>-->
    <!--<option>Kwara</option>-->
    <!--<option>Lagos</option>-->
    <!--<option>Ogun</option>-->
    <!--<option>Ondo</option>-->
    <!--<option>Osun</option>-->
    <!--<option>Plateau</option>-->
  <!--</select>-->
  <!--&lt;!&ndash;<input type="search" class="searchlocation" placeholder="Location e.g Ikeja">&ndash;&gt;-->

  <!--<button type="submit" class="searchbutton" (click)="onSearch()" >Search</button>-->

<!--</form>-->
