<div class="gh">
  <div class="container">
    <div class="row">
      <div class="box1 col-sm-12 col-md-4">
        <div class="innerbox1">
          <h5>Rating</h5>
          <h3>5 star</h3>
        </div>
      </div>
      <div class="box2 col-sm-12 col-md-4">
        <div class="innerbox1">
          <h5>Job request</h5>
          <h5>10000000</h5>
        </div>
      </div>
      <div class="box3 col-sm-12 col-md-4">
        <div class="innerbox1">
          <h5>Successful jobs done</h5>
          <h3>1000</h3>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="reviews col-sm-12 col-md-12">
        <h3 class="text-center page-header">Service Reviews</h3>
        <br>
        <div class="review">
          <p class="text-me"><span>Sukomi</span> : Amazing experience with the photographer</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tifunmi</span> : The brilliance experienced from the job has stolen me as a permanent customer. Thanks you very much James D</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tafuko</span> : Great job....keep it up :)</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Sukomi</span> : Amazing experience with the photographer</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tifunmi</span> : The brilliance experienced from the job has stolen me as a permanent customer. Thanks you very much James D</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tafuko</span> : Great job....keep it up :)</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Sukomi</span> : Amazing experience with the photographer</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tifunmi</span> : The brilliance experienced from the job has stolen me as a permanent customer. Thanks you very much James D</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tafuko</span> : Great job....keep it up :)</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Sukomi</span> : Amazing experience with the photographer</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tifunmi</span> : The brilliance experienced from the job has stolen me as a permanent customer. Thanks you very much James D</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tafuko</span> : Great job....keep it up :)</p>
        </div>

        <div class="review">
          <p class="text-me"><span>Sukomi</span> : Amazing experience with the photographer</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tifunmi</span> : The brilliance experienced from the job has stolen me as a permanent customer. Thanks you very much James D</p>
        </div>
        <div class="review">
          <p class="text-me"><span>Tafuko</span> : Great job....keep it up :)</p>
        </div>

      </div>
    </div>

  </div>
</div>
