<div class="containerme">
  <br>
  <h5 class="text-center">Sign up as a service provider and get to market your service</h5>



  <div class="container">
    <div class="holdin">
      <div class="row show-hide-message">
        <div [ngClass]="messageClass">
          {{ message }}
        </div>
      </div>
  <form [formGroup]="brform" (submit)="onRegisterBusiness()" class="form-auth-small">
    <div class="form-group">
      <label for="signin-email" class="control-label sr-only">Full Name</label>
      <input type="text" name="username" class="form-control" id="signin-email" placeholder="Enter fullname" formControlName="fullname">
      <ul class="help-block">
        <li *ngIf="brform.controls.fullname.errors?.required && brform.controls.fullname.dirty">This field is required</li>
        <li *ngIf="brform.controls.fullname.errors?.minlength || brform.controls.fullname.errors?.maxlength">Minimum length : 5 and Maximum length: 30</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="signin-email" class="control-label sr-only">Email</label>
      <input type="text" name="email" class="form-control" id="signin-email" placeholder="Enter email" formControlName="email">
      <ul class="help-block">
        <li *ngIf="brform.controls.email.errors?.required && brform.controls.email.dirty">This field is required</li>
        <li *ngIf="brform.controls.email.errors?.minlength || brform.controls.email.errors?.maxlength">Minimum length : 5 and Maximum length: 30</li>
        <li *ngIf="brform.controls.email.errors?.validateEmail && brform.controls.email.dirty">This is not a valid E-mail address</li>
        <!--<li *ngIf="emailValid"> {{ emailMessage }}</li>-->
      </ul>
    </div>

    <div class="form-group">
      <label for="signin-email" class="control-label sr-only">Business Name</label>
      <input type="text" name="businessname" class="form-control" id="signin-email" placeholder="Enter business name" formControlName="businessname">
      <ul class="help-block">
        <li *ngIf="brform.controls.businessname.errors?.required && brform.controls.businessname.dirty">This field is required</li>
        <!--<li *ngIf="businessnameValid"> {{ businessnameMessage }}</li>-->
      </ul>
    </div>


    <div class="form-group">
      <label for="signin-email" class="control-label sr-only">Address</label>
      <input type="text" name="address" class="form-control" id="signin-email" placeholder="Enter address" formControlName="address">
      <ul class="help-block">
        <li *ngIf="brform.controls.address.errors?.required && brform.controls.address.dirty">This is a required field</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="signin-email" class="control-label sr-only">City</label>
      <input type="text" name="city" class="form-control" id="signin-email" placeholder="Enter city" formControlName="city">
      <ul class="help-block">
        <li *ngIf="brform.controls.city.errors?.required && brform.controls.city.dirty">This is a required field</li>
      </ul>
    </div>

    <div class="form-group">
    <select class="inputt form-control" name="state" formControlName="state" autocomplete="off">
      <option *ngFor="let s of allState" [ngValue]="s">{{ s }}</option>
    </select>
    </div>
      <div class="form-group">
    <select class="inpu form-control" name="category" formControlName="category">
      <option *ngFor="let c of allCategory" [ngValue]="c">{{ c }}</option>
    </select>
      </div>
    <div class="form-group">
      <label for="signin-password" class="control-label sr-only">Password</label>
      <input type="password" name="password" class="form-control" id="signin-password"placeholder="Enter a password" formControlName="password">
      <ul class="help-block">
        <li *ngIf="brform.controls.password.errors?.required && brform.controls.password.dirty">This is a required field</li>
        <li *ngIf="brform.controls.password.errors?.minlength || brform.controls.password.errors?.maxlength">Minimum length: 5 and Maximum length: 30</li>
        <li *ngIf="brform.controls.password.errors?.passwordValidate && brform.controls.password.dirty">Password must containe: Uppercase, Lowercase, Digit and a Symbol</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="signin-password" class="control-label sr-only">Password</label>
      <input type="password" name="confirm" class="form-control" id="signin-password"placeholder="Confirm your password" formControlName="confirm">
      <ul class="help-block">
        <li *ngIf="brform.controls.confirm.errors?.required && brform.controls.confirm.dirty">This is a required field</li>
        <li *ngIf="brform.errors?.matchingPassword && brform.controls.confirm.dirty">Passwords do not match</li>
      </ul>
    </div>
    <!--<div class="custom-file mb-1">-->
      <!--<input type="file" name="file" id="file" class="custom-file-input" (change)="onFileSelected($event)">-->
      <!--<label for="file" class="custom-file-label">Add a profile picture (OPTIONAL)</label>-->
      <!--<br><br>-->
    <!--</div>-->


    <button type="submit" [disabled]="!brform.valid || processing" class="subbut btn btn-primary btn-lg btn-block" (click)="onUpload()">SIGN UP</button>
  </form>
    </div>
    </div>
</div>
