<div class="containerme">
<div class="container">
    <div class="row">
      <div class="contain col-md-8">
        <div class="row">
        <div class="col-md-4 image"></div>
        <div class="col-md-8 seller">
          <div class="insider">
            <h5><b>James D Photography</b></h5>
            <p>4 star</p>
            <p><i>Ikeja, Lagos</i></p>
            <!--<p>Description</p>-->
            <h6> <b>Description:</b> <i>specialised in professional photography graphics video productions of all kinds wedding portrait</i></h6>
          </div>
        </div>
        </div>
      </div>
        <div class="sub col-md-4">
          <button class="buttonme col-md-12">View Profile</button>
        </div>
    </div>
  </div>
</div>

