<!--<div class="container">-->
<br>
<h5 class="text-center page-header"> Quick search by highest views from customers of the service providers </h5>
<ul class="row">
  <li (click)="runSearchP()" class="col-sm-12 col-lg-2 col-md-4"><a><span><img src="../../../../assets/si-glyph-camera.svg"></span><br><br>Photographer</a></li>
  <li (click)="runSearchS()" class="col-sm-12 col-lg-2 col-md-4"><a><span><img src="../../../../assets/si-glyph-hanger.svg"></span><br><br>Stylist</a></li>
  <li (click)="runSearchE()" class="col-sm-12 col-lg-2 col-md-4"><a><span><img src="../../../../assets/si-glyph-building.svg"></span><br><br>Event Center</a></li>
  <li (click)="runSearchC()" class="col-sm-12 col-lg-2 col-md-4"><a><span><img src="../../../../assets/si-glyph-spoon-fork.svg"></span><br><br>Catering</a></li>
  <li (click)="runSearchM()" class="col-sm-12 col-lg-2 col-md-4"><a><span><img src="../../../../assets/si-glyph-brush-and-pencil.svg"></span><br><br>Make-up Artist</a></li>
  <li (click)="runSearchMa()" class="col-sm-12 col-lg-2 col-md-4"><a><span><img src="../../../../assets/si-glyph-microphone-1.svg"></span><br><br>Master Ceremony</a></li>
</ul>
<!--</div>-->
